########################################
# Jovavia Platform
########################################

# local | dev | staging | prod
JOVAVIA_ENV=local

# Region based naming (used across Redis/Kafka/Tracing)
JOVAVIA_REGION=ap-south-1

# Platform namespace
JOVAVIA_PLATFORM=jovavia

####################################
# PostgreSQL
####################################
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=jovavia
POSTGRES_PASSWORD=change_me

####################################
# PgBouncer
####################################
PGBOUNCER_PORT=6432
PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=5000
PGBOUNCER_DEFAULT_POOL_SIZE=50
PGBOUNCER_RESERVE_POOL_SIZE=20
PGBOUNCER_RESERVE_POOL_TIMEOUT=5
PGBOUNCER_QUERY_WAIT_TIMEOUT=120
PGBOUNCER_SERVER_IDLE_TIMEOUT=300
PGBOUNCER_SERVER_LIFETIME=3600

####################################
# PostgreSQL Exporter
####################################
POSTGRES_EXPORTER_PORT=9187


####################################
# PgBouncer Exporter
####################################
PGBOUNCER_HOST=pgbouncer
PGBOUNCER_EXPORTER_PORT=9127


####################################
# Prometheus
####################################
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=15d